{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
    <h1>Main</h1>
        {% if is_granted('ROLE_INVITED') %}
            {% if authUrl %}
                <a href="{{ authUrl }}">connect google account</a>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
